<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <services>
      <!-- 네임스페이스명을 포함한 서비스 객체 -->
      <service name="TestService.StuManager"
               behaviorConfiguration="1111111">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/wcf/example/TestService"/>
          </baseAddresses>
        </host>
        <endpoint
          contract ="TestService.IStuManager"
          address =""
          binding ="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService"
          />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="1111111">
          <!-- KEY -->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>